body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(199, 237, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

header a i {
    color: rgb(199, 237, 224);
    font-size: 3em;
    padding: 5px;
}

.container header nav ul {
    display: flex;
    gap: 1.1em;
}

header nav ul li a {
    color: rgb(0, 0, 0);
}

/* Termina la edición del index */

.seccion-1 {
    background-color: rgb(225, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.acerca-de2 {
    background-color: #ffffff;
    color: rgb(14, 15, 15);
    flex-wrap: wrap;
    width: 100%;
}
/* Borrar el 2 en .seccion */
.seccion-1 {
    flex-wrap: wrap;
    width: 100%;
}

.seccion-2 {
    background-color: rgb(225, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Terminación de imágenes */

footer h3 {
    color: rgb(245, 201, 143);
}

footer {
    background-color: black;
    width: 100%;
}

nav ul li a {
    color: aliceblue;
}

footer nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 1em;
    align-items: center;
}

footer a i {
    color: rgb(43, 42, 42);
    font-size: 2em;
    padding: 1px;
    position: fixed;
    bottom: 22px;
    right: 39px;
    flex-wrap: wrap;
}

footer {
    display: block;
}

/* Trabajo imágenes */

.seccion3 h2 {
    color: rgb(232, 213, 35);
}

/* Borrar el "nada" */

.seccion3 {
    display: flex;
    text-align: center;
    font-size: 18px;
}

/* Borrar el "nada" */

.seccion4 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 1;
    /* probremas en las 3 fotos no se alinean se debe agregar "flex-wrap: wrap;"*/
}
/* Codigo que nose si funciona */
.acerca-de-texto {
    flex-wrap: wrap;
    width: 100%;
}
.acerca-de-texto2 {
    flex-wrap: wrap;
    width: 100%;
}
.acerca-de-texto3 {
    flex-wrap: wrap;
    width: 100%;
}
/* Parece que no funciono muy bien :( */
.acerca-de-texto h3 {
    text-align: center;
    font-size: 18px;
    display: flex;
    color: rgb(128, 20, 20);
}

.acerca-de-texto2 h3 {
    text-align: center;
    font-size: 18px;
    display: flex;
    color: rgb(128, 20, 20);
}

.acerca-de-texto3 h3 {
    text-align: center;
    font-size: 18px;
    display: flex;
    color: rgb(128, 20, 20);
}

/* MENU */

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: rgb(118, 20, 20);
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.checkbtn {
    display: block;
}

#encabezado ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    text-align: center;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
}
@media (max-width: 768px) {
    .check {
        display: none;
    }
}
@media (max-width: 768px) {
    header {
        background-color: burlywood;
    }
    .menu22 {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        top: 50px;
    }
}

/* Se sigue haciendo */

#check:checked ~ nav ul {
    left: 0;
    display: flex;
}

#encabezado nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

#encabezado nav ul li a {
    font-size: 20px;
}

#check:checked ~ .checkbtn {
    color: black;
}
/* Div agregado 2/11 */
.greeting {
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
    padding: 20px; /* Añade relleno para separar el contenido del borde */
    border: 2px solid #333; /* Agrega un borde alrededor del elemento */
    border-radius: 10px; /* Redondea las esquinas del elemento */
    text-align: center; /* Centra el texto en el elemento */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}